<div style="background-color: white">
    <H1 style="color: gray; text-align:center;">Update User</H1>
    <div class="rounded" style="background-color: white; margin: 20px; padding: 20px">
    <form novalidate [formGroup]="myUpdateForm">
  
        <!-- <div class="form-group">
            <label for="inputrole">Enter User role</label>
            <input type="text" class="form-control" id="inputrole"
                   placeholder="role" name="role"
                   formControlName="role">
          </div> -->
  
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail"
                 placeholder="Enter email" name="email"
                 formControlName="useremail">
        </div>
  
      <div class="form-group">
        <label for="inputUserName">Enter User Name</label>
        <input type="username" class="form-control" id="inputUserName"
               placeholder="Enter Username" name="username"
               formControlName="username">
      </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control"
                 formControlName="password"
                 id="inputPassword" placeholder="Password" name="password">
        </div>
  
        <!--<div class="form-group">-->
          <!--<label for="confirmPassword">Confirm Password</label>-->
          <!--<input type="password" class="form-control"-->
                 <!--formControlName="confirm"-->
                 <!--id="confirmPassword" placeholder="Confirm Password" name="confirm">-->
        <!--</div>-->
  
  
          <div class="form-group">
            <label for="usergender">Gander</label>
            <!-- <select class="form-control" id="usergender" formControlName="usergender" name="userGender">
              <option value="usergender" disabled>Select gander</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select> -->
            <input type="text" class="form-control"
               formControlName="usergender"
               id="usergender" placeholder="Enter First Name" name="usergender">
          </div>
  
  
      <div class="form-group">
        <label for="firstName">Enter First Name</label>
        <input type="text" class="form-control"
               formControlName="firstname"
               id="firstName" placeholder="Enter First Name" name="firstName">
      </div>
  
      <!-- <div class="form-group">
        <label for="midName">Enter Mid Name</label>
        <input type="text" class="form-control"
               formControlName="midname"
               id="midName" placeholder="Enter Mid Name" name="midName">
      </div> -->
  
      <div class="form-group">
        <label for="lastName">Enter Last Name</label>
        <input type="text" class="form-control"
               formControlName="lastname"
               id="lastName" placeholder="Enter Last Name" name="lastName">
      </div>
      <div class="form-group">
        <label for="userphone">Enter Your phone number</label>
        <input type="number" class="form-control"
               formControlName="phonenumber"
               id="userphone" placeholder="Enter your phone number" name="userphone">
      </div>
      <div class="form-group">
          <label for="city">Enter Your city</label>
          <input type="text" class="form-control"
                 formControlName="city"
                 id="city" placeholder="Enter your city" name="city">
        </div>
      <div class="form-group">
        <label for="userdate">Enter DateOfBirth</label>
        <input type="Date" class="form-control"
               formControlName="userdate"
               id="userdate" placeholder="Enter your date of birth" name="userdate">
      </div>
  
      <button type="submit" class="btn btn-primary"
                (click)="onSubmit()"
                [disabled]="!myUpdateForm.valid"> Update User </button>
  
                <p style="float:right"> 
                    <a routerLink="/home" class="btn btn primary">Return to Home</a>
                  </p>
      </form>
   </div>
  </div>
  

