

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>3 Col Portfolio - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->

</head>

<body>


<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->

  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let events of events$">
      <div class="card h-100">
        <a [routerLink]="['/event', events.eventid]"><img class="card-img-top" src="/assets/tkt.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a >{{events.eventname}}</a>
          </h4>
          <p class="card-text">Event Date: {{events.eventdate}}</p>
          <p class="card-text">Event City: {{events.eventcity}}</p>

        </div>
      </div>
    </div>
   </div>
   </div>
</body>
<!-- /.container -->



<!-- Bootstrap core JavaScript -->




